body {
	font-size: 13px;
	min-width: 1200px;
}
/*************/
/*   Nav     */
/*************/
#progress_wrapper {	width:90%; }
/****************/
/*   Article    */
/****************/
article h1 {  font-size: 4em;}
/************/
/* Elements */
/************/
.my_elements_wrapper {
	margin-left:-400px;  
	margin-top:-10px;
	transform:scale(1);
	-ms-transform:scale(1); /* IE 9 */
	-webkit-transform:scale(1); /* Safari and Chrome */
}
/****** UI *******/
#wall_paper {
	top:90px;
	left:400px;
}
.triangle-right:after { 	bottom:-20px; }
/**********/
/* Footer */
/**********/
footer {
	transform:scale(1);
	-ms-transform:scale(1); /* IE 9 */
	-webkit-transform:scale(1); /* Safari and Chrome */
}